.global{
    max-width: 1200px;
    padding: 5vh 5vw;
    
}

.populaire .global{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 10px;
}

.centrecat p {
    margin: 0 auto;
    width: 78vw;
    padding: 4px;
}