/**
bouton-categorie.scss ------------------------------ .categorie__ul
*/


.categorie__ul{
    display : flex;
    gap: 5px;
    list-style-type: none;
&__li{
    padding: 3px;
    border: 1px solid #aaa;
    background-color: aquamarine;
    margin: 0 auto;
}



}


.destination{
    &__radio{
        
    }
    &__contenu{
        max-height: 0px;
        overflow: hidden;
    }
    }



.destination__radio:checked ~ .destination__contenu {
    max-height: 300px;
}