.recherche{
    display: flex;
    height: 1.6rem;
    width: 14rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
// le & prend la valeur du selecteur parent
    &__input{
        border: none;
        outline: none;
        background-color: rgba(0,0,0,.01);
        flex: 1;
        padding: 3px;
        &:hover{
            background-color: rgba(0,0, 0, .05)
        }
        &::placeholder{
            color: rgba(0,0, 0, .1);
            font-style: italic;
        }

    };

    &__img{
        flex: 0 0 20px;
        padding: 3px;
    }
}